@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:'Poppins',sans-serif;

    min-height:100vh;

    background:
    linear-gradient(
    135deg,
    #ffffff,
    #dbeafe,
    #93c5fd);

    overflow:hidden;

    color:#0f172a;
}

.container{

    width:100%;

    text-align:center;

    padding-top:30px;
}

h1{

    font-size:60px;

    font-weight:700;

    color:#2563eb;

    text-shadow:
    0 0 10px #93c5fd;
}

.subtitle{

    margin-top:10px;

    font-size:20px;

    color:#334155;
}

.input-section{

    margin-top:30px;
}

input{

    width:350px;

    padding:15px;

    border:none;

    border-radius:15px;

    font-size:16px;

    outline:none;

    background:white;

    box-shadow:
    0 4px 15px rgba(0,0,0,0.1);
}

button{

    padding:15px 25px;

    margin:10px;

    border:none;

    border-radius:15px;

    font-size:16px;

    font-weight:bold;

    cursor:pointer;

    color:white;

    background:
    linear-gradient(
    45deg,
    #2563eb,
    #facc15);

    transition:0.3s;

    box-shadow:
    0 4px 15px rgba(37,99,235,0.4);
}

button:hover{

    transform:scale(1.05);

    box-shadow:
    0 6px 20px rgba(250,204,21,0.6);
}

#array-container{

    display:flex;

    justify-content:center;

    align-items:flex-end;

    height:450px;

    margin-top:50px;

    padding:20px;
}

.bar{

    width:50px;

    margin:6px;

    border-radius:12px 12px 0 0;

    background:
    linear-gradient(
    to top,
    #2563eb,
    #60a5fa);

    color:white;

    font-weight:bold;

    display:flex;

    justify-content:center;

    align-items:flex-end;

    padding-bottom:10px;

    transition:0.4s;

    box-shadow:
    0 4px 15px rgba(37,99,235,0.4);
}

.bar:hover{

    transform:translateY(-10px);
}

#status{

    margin-top:20px;

    font-size:24px;

    font-weight:bold;

    color:#1e3a8a;
}
